<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/about.css">

         <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
         <title>About Us</title>
   </head>
   <body>
      <div class="header1 center">We're an undergraduate team of programmers making the World a more fun place -- One line of code at a time!!</div>
   </body>
</html>
